<launch>


    <node pkg="aruco_ros" type="single" name="aruco" ns="camera">
        <remap from="/image" to="image_raw" />
        <remap from="/camera_info" to="camera_info" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="0.1"/>
        <param name="marker_id"          value="01"/>
        <param name="camera_frame"       value="camera_link"/>
        <param name="marker_frame"       value="marker" />
        <param name="corner_refinement"  value="SUBPIX" />
    </node>

</launch>

